# Cythonized files
src/silx/image/bilinear.c
src/silx/image/marchingsquares/_mergeimpl.cpp
src/silx/image/shapes.c
src/silx/io/specfile.c
src/silx/math/chistogramnd.c
src/silx/math/chistogramnd_lut.c
src/silx/math/colormap.c
src/silx/math/combo.c
src/silx/math/interpolate.c
src/silx/math/fit/filters.c
src/silx/math/fit/functions.c
src/silx/math/fit/peaks.c
src/silx/math/marchingcubes.cpp
src/silx/math/medianfilter/medianfilter.cpp
src/silx/third_party/_local/scipy_spatial/qhull.c

# Hidden files
.*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
/package/silx*
/package/python-silx*
/package/python3-silx*
/doc/build
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
coverage.rst
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# gedit
*~

# PyBuilder
target/

# Vim
.*.swp

# PyCharm
.idea/

# MacOS
.DS_Store

#Notebook checkpoints
.ipynb_checkpoints
