[build-system]
requires = [
    "wheel",
    "setuptools",
    "oldest-supported-numpy",
    "Cython>=0.29.31"
]
build-backend = "setuptools.build_meta"

[tool.black]
required-version = 23
target-version = ["py37", "py38", "py39", "py310", "py311", "py312"]
safe = true
