# List of silx development dependencies
# Those ARE NOT required for installation, at runtime or to build from source (except for the doc)

Cython >= 0.21.1  # To regenerate .c/.cpp files from .pyx
Sphinx            # To build the documentation in doc/
lxml              # For test coverage in run_test.py
coverage          # For test coverage in run_test.py
