# List of silx development dependencies
# Those ARE NOT required for installation or at runtime

-r requirements.txt
build             # To build the project
wheel             # To build wheels
Sphinx            # To build the documentation in doc/
sphinx-autodoc-typehints  # For leveraging Python type hints from Sphinx
sphinx-panels     # For tabs and grid in documentation
pillow            # For loading images in documentation generation
pydata_sphinx_theme  # Sphinx theme
nbsphinx          # For converting ipynb in documentation
pandoc            # For documentation Qt snapshot updates
black[jupyter]    # Formatting

pytest            # For testing
pytest-xvfb       # For GUI testing
pytest-cov        # For coverage
pytest-mock

hdf5plugin        # For HDF5 compression filters handling

pyinstaller>=6.0.0; sys_platform == "win32"
