pybind11  # Required to build pyopencl

# Pinpoint pyopencl on Windows to latest wheel available for python 2.7
# on https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyopencl
# Anyway, we don't test OpenCL on appveyor
pyopencl == 2018.1.1; sys_platform == 'win32'
